table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(0, 0, 0);
  font-size: 14px;
}
thead {
  background: rgb(0, 59, 94);
  color: white;
  font-weight: 100;
}
tbody {
  background: rgb(200, 235, 255);
}
th,
td {
  padding: 5px;
  border: 1px solid rgb(196, 196, 196);
}
